<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Page Not Found</title>
<link href="bundles/framework/css/page_notfound404.css" rel="stylesheet" type="text/css"/>
 
<style>
    .header{
        display:none;
    }    
</style>
</head>

<body>
<div id="four_zero_four_wrapper">
	<div class="four_zero_four_inner">
    	<span><img src="bundles/framework/images/notfoun404_icon.png" alt="#"/></span>
        <h1>{{status_code}}</h1>
        <label>{{status_text}}</label>
        <p>The page you are looking doesn't exist or an other error occurred.
        <a href="http://wsb.thedevclan.co.uk/">Go To WSB Login</a> or head over to <a href="http://wsb.thedevclan.co.uk/">wsb.thedevclan.co.uk</a> to choose a new direction.
        </p>
    </div>
</div>
</body>


</html>


