<!doctype html>
<html  class="fsvs" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WSB</title>
    <link href="css/style1.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <script src="js/jqurey.js" type="text/javascript"></script>
    <script src="js/custom.js" type="text/javascript"></script>
</head>
<body>
<div id="wrapper">
    <!--header start-->
    {#<header id="header">#}
        {#<div class="logo_wsb"> <a href="#"><img src="images/logo2.png" alt="logo"/></a> </div>#}
        {#<div class="listing_header">#}
            {#<ul>#}
                {#<li> <a href="#">get the app</a> </li>#}
                {#<li> <a href="#" class="list_club">List your club</a> </li>#}
            {#</ul>#}
            {#<div class="clearfix"></div>#}
        {#</div>#}
        {#<div class="menu_btn_responsive"> <a href="#">&nbsp;</a> </div>#}
    {#</header>#}
    <!--header end-->
    <!--banner start-->
    <section id="banner">
        <div class="banner_pic"> <span><img src="images/banner_pic2.png" alt="#"/></span> </div>
        <div class="banner_data rw-wrapper">
            <h3>Buddy up and</h3>
            <h1 class="rw-sentence">
                <div class="rw-words rw-words-1"> <span>Play</span> <span>Discover</span> <span>Connect</span> <span>Arrange</span> <span>Create</span> <span>Loyalty</span> </div>
            </h1>
            <a class="app_store" href="#"><img src="images/app_store_btn.png" alt="#"/></a> <a class="down_errow" href="#partner_section">&nbsp;</a> </div>
        {#<div class="control_bar">#}
            {#<ul>#}
                {#<li> <a class="banner_control select" href="#banner">&nbsp;</a> </li>#}
                {#<li> <a href="#discover">&nbsp;</a> </li>#}
                {#<li> <a href="#connect">&nbsp;</a> </li>#}
                {#<li> <a href="#arrange">&nbsp;</a> </li>#}
                {#<li> <a href="#play">&nbsp;</a> </li>#}
                {#<li> <a href="#create">&nbsp;</a> </li>#}
                {#<li> <a href="#loyalty">&nbsp;</a> </li>#}
                {#<li> <a href="#choice_sport">&nbsp;</a> </li>#}
            {#</ul>#}
        {#</div>#}
    </section>
    <!--banner end-->
    <!--partner logo start-->
    <section id="partner_section"  class="partner_logo">
        <h2>we‘ve partnered up with</h2>
        <ul>
            <li> <a href="#"><img src="images/ymca2.png" alt="#"/></a> </li>
            <li> <a href="#"><img src="images/gym_box2.png" alt="#"></a> </li>
            <li> <a href="#"><img src="images/fitness_first2.png" alt="#"/></a> </li>
            <li> <a href="#"><img src="images/active2.png" alt="#"/></a> </li>
            <li> <a href="#"><img src="images/third_space2.png" alt="#"/></a> </li>
        </ul>
    </section>
    <!--partner logo end-->
    <!--control bar start-->
    <div class="discover_control_bar">
        <ul>
            <li> <a class="banner_control" href="#banner">&nbsp;</a> </li>
            <li> <a class="discover_control" href="#discover">&nbsp;</a> </li>
            <li> <a class="connect_control" href="#connect">&nbsp;</a> </li>
            <li> <a class="arrange_control" href="#arrange">&nbsp;</a> </li>
            <li> <a class="play_control" href="#play">&nbsp;</a> </li>
            <li> <a class="create_control" href="#create">&nbsp;</a> </li>
            <li> <a class="loyalty_control" href="#loyalty">&nbsp;</a> </li>
            <li> <a class="choice_sport_control" href="#choice_sport">&nbsp;</a> </li>
        </ul>
    </div>
    <!--control bar end-->
    <!--discover start-->
    {#<section id="discover">#}
        {#<div class="discover_pic"> <span><img src="images/discover_bg2.png" alt="#"/></span> </div>#}
        {#<div class="discover_data">#}
            {#<div class="discover_heading">#}
                {#<h1>Discover</h1>#}
            {#</div>#}
            {#<div class="discover_mobile"> <span><img src="images/discover_mobile_screen2.png" alt="#"/></span> </div>#}
            {#<div class="discover_details">#}
                {#<h2>Events &amp; Games</h2>#}
                {#<p>Find games and events near and far from you. Browse and partecipate to private club’s games and events.</p>#}
            {#</div>#}
            {#<div class="clearfix"></div>#}
        {#</div>#}
    {#</section>#}
    <!--discover end-->
    <!--connect start-->
    {#<section id="connect">#}
        {#<div class="connect_data">#}
            {#<div class="connect_heading resposive">#}
                {#<h1>Connect</h1>#}
            {#</div>#}
            {#<div class="connect_details">#}
                {#<h2>Tons of buddies</h2>#}
                {#<p>Find and connect with hunders of players, clubs and coaches. Look them up everywhere in the world, around you or at your favourite gyms and clubs.</p>#}
            {#</div>#}
            {#<div class="connect_mobile"> <span><img src="images/connect_mobile_screen2.png" alt="#"/></span> </div>#}
            {#<div class="connect_heading desktop">#}
                {#<h1>Connect</h1>#}
            {#</div>#}
            {#<div class="clearfix"></div>#}
        {#</div>#}
        {#<div class="connect_pic"> <span><img src="images/connect_bg2.png" alt="#"/></span> </div>#}
    {#</section>#}
    <!--connect end-->
    <!--arrange start-->
    {#<section id="arrange">#}
        {#<div class="arrange_pic"> <span><img src="images/arrange_bg2.png" alt="#"/></span> </div>#}
        {#<div class="arrange_data">#}
            {#<div class="arrange_heading">#}
                {#<h1>Arrange</h1>#}
            {#</div>#}
            {#<div class="arrange_mobile"> <span><img src="images/arrange_mobile_screen2.png" alt="#"/></span> </div>#}
            {#<div class="arrange_details">#}
                {#<h2>Direct Messages</h2>#}
                {#<p>Use the internal direct chat to communicate directly with other players and plan games and events in details.</p>#}
            {#</div>#}
            {#<div class="clearfix"></div>#}
        {#</div>#}
    {#</section>#}
    <!--arrange end-->
    <!--play start-->
    {#<section id="play">#}
        {#<div class="play_data">#}
            {#<div class="play_heading resposive">#}
                {#<h1>Play</h1>#}
            {#</div>#}
            {#<div class="play_details">#}
                {#<h2>Game on!</h2>#}
                {#<p>Find and connect with hunders of players, clubs and coaches. Look them up everywhere in the world, around you or at your favourite gyms and clubs.</p>#}
            {#</div>#}
            {#<div class="play_mobile"> <span><img src="images/play_mobile_screen2.png" alt="#"/></span> </div>#}
            {#<div class="play_heading desktop">#}
                {#<h1>Play</h1>#}
            {#</div>#}
            {#<div class="clearfix"></div>#}
        {#</div>#}
        {#<div class="play_pic"> <span><img src="images/play_bg2.png" alt="#"/>#}
      {#<div class="clearfix"></div>#}
      {#</span> </div>#}
    {#</section>#}
    <!--play end-->
    <!--create start-->
    {#<section id="create">#}
        {#<div class="create_pic"> <span><img src="images/create_bg.png" alt="#"/></span> </div>#}
        {#<div class="create_data">#}
            {#<div class="create_heading">#}
                {#<h1>Create</h1>#}
            {#</div>#}
            {#<div class="create_mobile"> <span><img src="images/create_mobile_screen2.png" alt="#"/></span> </div>#}
            {#<div class="create_details">#}
                {#<h2>Create Events!</h2>#}
                {#<p>Use the internal direct chat to communicate directly with other players and plan games and events in details.</p>#}
            {#</div>#}
            {#<div class="clearfix"></div>#}
        {#</div>#}
    {#</section>#}
    <!--create end-->
    <!--loyalty start-->
    {#<section id="loyalty">#}
        {#<div class="loyalty_data">#}
            {#<div class="loyalty_heading resposive">#}
                {#<h1>Loyalty</h1>#}
            {#</div>#}
            {#<div class="loyalty_details">#}
                {#<h2>Get rewards!</h2>#}
                {#<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua#}
                    {#ut enim ad minim veniam, quis nostrud.</p>#}
            {#</div>#}
            {#<div class="loyalty_mobile"> <span><img src="images/loyalty_mobile_screen2.png" alt="#"/></span> </div>#}
            {#<div class="loyalty_heading desktop">#}
                {#<h1>Loyalty</h1>#}
            {#</div>#}
            {#<div class="clearfix"></div>#}
        {#</div>#}
        {#<div class="loyalty_pic"> <span><img src="images/loyalty_bg2.png" alt="#"/>#}
      {#<div class="clearfix"></div>#}
      {#</span> </div>#}
    {#</section>#}
    <!--loyalty end-->
    <!--download start-->
    {#<div class="download_app" id="download_app">#}
        {#<p>Are you ready to play?<br/>#}
            {#Join the world’s biggest smallest sport Club!</p>#}
        {#<a href="#">&nbsp;</a> </div>#}
    {#<!--download end-->#}
    {#<!--choice sport start-->#}
    {#<div class="choice_sport" id="choice_sport">#}
        {#<div class="sport_buddy">#}
            {#<p>Are you a Sports Retailer, <br/>#}
                {#Manufacturer or Merchandiser?</p>#}
            {#<a href="#">Market on World Sports Buddy</a> </div>#}
        {#<div class="sport_club">#}
            {#<p>Are you a Sport Club <br/>#}
                {#or Gym? Join us!</p>#}
            {#<a href="#">list your club</a> </div>#}
        {#<div class="clearfix"></div>#}
    {#</div>#}
    <!--choice sport end-->
    <!--footer start-->
    {#<footer id="footer">#}
        {#<div class="footer_social_media">#}
            {#<ul>#}
                {#<li> <a href="#"><img src="images/fb_icon.png" alt="img"/></a> </li>#}
                {#<li> <a href="#"><img src="images/twtr_icon.png" alt="img"/></a> </li>#}
                {#<li> <a href="#"><img src="images/social_icon.png" alt="img"/></a> </li>#}
            {#</ul>#}
        {#</div>#}
        {#<div class="footer_listing">#}
            {#<ul>#}
                {#<li> <a href="#">get the app</a> </li>#}
                {#<li> <a href="#">List your club</a> </li>#}
                {#<li> <a href="#">About Us</a> </li>#}
                {#<li> <a href="#">Blog</a> </li>#}
                {#<li> <a href="#">Contact</a> </li>#}
            {#</ul>#}
        {#</div>#}
        {#<div class="footer_copyright">#}
            {#<p>&copy; 2016 World Sport Buddy LTD</p>#}
        {#</div>#}
    {#</footer>#}
    <!--footer end-->

</div>
</body>
</html>
