{% include 'FrontEndBundle:partials:header.html.twig' %}

<table class="table table-bordered">
    <tbody>
    {% if book is not null %}
        <tr>
            <td>Book Title</td>
            <td>{{ book.title }}</td>
        </tr>
        <tr>
            <td>Published Data</td>
            <td>{{ book.publishedYear|date('y-m-d') }}</td>
        </tr>
        <tr>
            <td>Rack</td>
            <td>{{ book.rack.name }}</td>
        </tr>
        <tr>
            <td>Author</td>
            <td>{{ book.author.name }}</td>
        </tr>
    {% endif %}
    </tbody>
</table>

{% include 'FrontEndBundle:partials:footer.html.twig' %}
