{% include 'FrontEndBundle:partials:header.html.twig' %}
<div class="container" id="adv-search">
    <form id="nlk-search-form" method="get" action="{{ url('view_books') }}">
        <div class="input-group input-group-lg">
            <input id="nlk-search-str" name="likeKey" type="text" maxlength="200" class="form-control" required value="{{ searchKey }}" >

            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit" id="nlk-search-submit">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </form>
</div>
<div class="container">
    <hr/>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Name</td>
                <td>Author</td>
                <td>Rack</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            {% if books is not empty %}
                {% for book in books %}
                    <tr>
                        <td>{{ book.title }}</td>
                        <td>{{ book.author.name }}</td>
                        <td>{{ book.rack.name }}</td>
                        <td><a href="{{ url('view_book_info',{id:book.id}) }}" target="_blank">View Book Detail</a></td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
{% include 'FrontEndBundle:partials:footer.html.twig' %}
