<html>
<head>
    <title>{% block title %}World Sports Buddy{% endblock %}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" >

    <!-- Optional theme -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}">

    <link rel="stylesheet" href="{{ asset('css/wsb-theme.css') }}">

    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ asset('js/bootstrap.min.js') }}" ></script>
</head>

<body>
{% block body %}
<form action="" method="post">
    <div class="form-group">
        <img src="{{ user.photoURL }}" class="img img-responsive img-rounded">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    </div>

</form>
{% endblock body %}
</body>
</html>