<!doctype html>
<html  class="fsvs" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
    <title>Assignment</title>
    <link href="{{ asset('front_end/css/jquery.fullPage.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('front_end/css/bounce.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('front_end/css/stylesheet.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('front_end/css/style1.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('front_end/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('front_end/css/style.css') }}" rel="stylesheet" type="text/css">

    
	<script src="{{ asset('front_end/js/jquery-3-1-0-min.js') }}" type="text/javascript"></script>
	<script src="{{ asset('front_end/js/jquery.fullPage.js') }}" type="text/javascript"></script>
	<script src="{{ asset('front_end/js/jquery.bxSlider.js') }}" type="text/javascript"></script>
    <script src="{{ asset('front_end/js/custom.js') }}" type="text/javascript"></script>
</head>
<body>
<center><h1><i>Test Assignment for Pure Logics</i></h1><span><a href="{{ url('fos_user_security_login') }}" class="list_club">click here to proceed</a></span></center>
</body>
</html>
