</div>
<style>
    .pagination>li {
        display: inline;
        padding:0px !important;
        margin:0px !important;
        border:none !important;
    }
    .modal-backdrop {
        z-index: -1 !important;
    }
    /*
    Fix to show in full screen demo
    */
    iframe
    {
        height:700px !important;
    }

    .btn {
        display: inline-block;
        padding: 6px 12px !important;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .btn-primary {
        color: #fff !important;
        background: #428bca !important;
        border-color: #357ebd !important;
        box-shadow:none !important;
    }
    .btn-danger {
        color: #fff !important;
        background: #d9534f !important;
        border-color: #d9534f !important;
        box-shadow:none !important;
    }
</style>
<script type="text/javascript">
    $(document).ready(function(){
//        $(".dropdown").hover(
//                function() {
//                    $('.dropdown-menu', this).not('.in .dropdown-menu').stop( true, true ).slideDown("fast");
//                    $(this).toggleClass('open');
//                },
//                function() {
//                    $('.dropdown-menu', this).not('.in .dropdown-menu').stop( true, true ).slideUp("fast");
//                    $(this).toggleClass('open');
//                }
//        );
//        $('table').DataTable();
    });
</script>
</body>
</html>