{% extends "BaseBundle::public_layout.html.twig" %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
            <h2 class="text-center">Hi! {{ user.displayName }}</h2>
                <hr/>
                <div class="form-group text-center">
                    <img src="{{ user.photoURL }}" class="img img-responsive img-circle inline-block">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                </div>
                <hr/>
                <p class="text-center">We are not getting some required details from your social platform so we cannot continue register please review or contact your social application consultants about the problem.</p>
                <hr/>

        </div>
    </div>
</div>


{% endblock body %}
