<!doctype html>
<html  class="fsvs" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WSB</title>
    <link href="{{ asset('front_end/css/style1.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('front_end/css/style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" type="text/css">
    <script src="{{ asset('front_end/js/jqurey.js') }}" type="text/javascript"></script>
    <script src="{{ asset('front_end/js/custom.js') }}" type="text/javascript"></script>
    <style>
        .form_tabs_data input{
            color: black;
        }
        #username{
            color: black;
        }
        #password{
            color: black;
        }
    </style>
</head>
<body>
<div id="wrapper">
    <!--header start-->
    {#<header id="header">#}
        {#<div class="logo_wsb" > <a href="#"><img  src="{{ asset('front_end/images/logo_white2.png') }}" alt="logo"></a> </div>#}
        {#<div class="listing_header">#}
            {#<ul>#}
                {#<li> <a href="#">get the app</a> </li>#}
                {#<li> <a href="#" class="list_club">Login</a> </li>#}
            {#</ul>#}
            {#<div class="clearfix"></div>#}
        {#</div>#}
        {#<div class="menu_btn_responsive"> <a href="#">&nbsp;</a> </div>#}
    {#</header>#}
    <!--header end-->
    <!--banner start-->
    <center style="margin-top: 100px"><img class="cover" src="{{ asset('images/logo-small.png') }}" alt="#"/></center>
    <section id="banner" class="change_height" style="margin-top: 150px">

        {#<div class="banner_pic"> <span class="change_class"><img class="cover" src="{{ asset('images/banner_pic.jpg') }}" alt="#"/></span> </div>#}
        <div class="banner_data change_top_padding">
            <h3 style="color: black">Login</h3>
            <div class="login_signup_form" style="padding-top: 15px !important;">
                <div class="form_tabs_data">

                    {% trans_default_domain 'FOSUserBundle' %}

                    {% block fos_user_content %}
                        {% if error %}
                            <div style="padding: 5px; background: palevioletred; color: white; margin-bottom: 10px; border: 1px solid darkred; border-radius: 5px;">Invalid email or password</div>
                        {% endif %}
                        {% if app.request.hasPreviousSession %}
                            {% for type, messages in app.session.flashbag.all() %}
                                {% for message in messages %}
                                    <div class="flash-{{ type }}">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                        <form action="{{ path("fos_user_security_check") }}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                            <div class="form-group">
                                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Email"/>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="password" id="password" name="_password" required="required" placeholder="Password"/>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                            </div>
                              <div class="form-group">
							  
                              {#<li style="float:right ; color:white"> <a style="color:white" href="{{ url('fos_user_resetting_request') }}">Forgot your password? ???</a> </li>#}
                              </div>
                        </form>
                    {% endblock fos_user_content %}
                </div>
            </div>
        </div>
    </section>
    <!--banner end-->
    <!--footer start-->
    {#<footer id="footer">#}
        {#<div class="footer_social_media">#}
            {#<ul>#}
                {#<li> <a href="#"><img src="{{ asset('images/fb_icon.png') }}" alt="img"/></a> </li>#}
                {#<li> <a href="#"><img src="{{ asset('images/twtr_icon.png') }}" alt="img"/></a> </li>#}
                {#<li> <a href="#"><img src="{{ asset('images/social_icon.png') }}" alt="img"/></a> </li>#}
            {#</ul>#}
        {#</div>#}
        {#<div class="footer_listing">#}
            {#<ul>#}
                {#<li> <a href="#">get the app</a> </li>#}
                {#<li> <a href="#">About Us</a> </li>#}
                {#<li> <a href="#">Blog</a> </li>#}
                {#<li> <a href="#">Contact</a> </li>#}
            {#</ul>#}
        {#</div>#}
        {#<div class="footer_copyright">#}
            {#<p>&copy; 2016 World Sport Buddy LTD</p>#}
        {#</div>#}
    {#</footer>#}
    <!--footer end-->

</div>
</body>
</html>
