<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8" />
        {% block stylesheets %}
            <link href="{{ asset('fos_user_custom_resource/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('fos_user_custom_resource/css/custom.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('fos_user_custom_resource/js/bootstrap.js') }}"></script>
        {% endblock %}
       
    
    
    </head>
    <body>
        <div class="form_outer">
        <div class="form_center">
            <img src="{{ asset('images/logo.png') }}" />
        <div>
            <hr/>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a class="text-center" href="{{ path('fos_user_security_logout') }}">
                    <h4 class="text-center" >{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</h4>
                </a>
            {% else %}
                <h4 class="text-center" >{{ 'Forgot Password'|trans({}, 'FOSUserBundle') }}</h4>
            {% endif %}
            <hr/>
        </div>
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div>

            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
        </div>
        </div>
    </body>
<style>
    body{
        background-color: rgba(32,194,108, 1) !important;
    }
    .form_center{
        background-color: #FFFFFF;
    }
</style>

</html>
