{% include 'FrontEndBundle:partials:header.html.twig' %}
<div class="container" id="adv-search">
    <form id="nlk-search-form" method="get" action="{{ url('list_racks') }}">
        <div class="input-group input-group-lg">
            <input id="nlk-search-str" name="likeKey" type="text" maxlength="200" class="form-control" required value="{{ searchKey }}" >

            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit" id="nlk-search-submit">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </form>
</div>
<div class="container">
    <hr/>
<table class="table table-bordered">
        <thead>
            <tr>
                <td>Name</td>
                <td>Books in Rack</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            {% if racks is not empty %}
                {% for rack in racks %}
                    <tr>
                        <td>{{ rack.name }}</td>
                        <td>{{ count[rack.id] }}</td>
                        <td><a href="{{ url('view_books_by_rack',{id:rack.id}) }}" target="_blank">View Books</a></td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
{% include 'FrontEndBundle:partials:footer.html.twig' %}
